*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}


html{

scroll-behavior:smooth;

}


body{

background:#020617;
color:white;

}



header{

background:#0f172a;
padding:20px;
position:sticky;
top:0;
z-index:100;

}



nav{

display:flex;
justify-content:space-between;
align-items:center;

}


.logo{

font-size:30px;
color:#38bdf8;

}



nav ul{

display:flex;
gap:25px;
list-style:none;

}



nav a{

text-decoration:none;
color:white;

}



nav a:hover{

color:#38bdf8;

}




section{

padding:80px 10%;
text-align:center;

}



h2{

color:#38bdf8;
margin-bottom:30px;

}




#home{

display:flex;
align-items:center;
justify-content:center;
gap:80px;
min-height:90vh;

}



.intro{

max-width:600px;
animation:left 1.5s;

}



.intro h1{

font-size:55px;
color:#38bdf8;

}



.intro p{

margin-top:20px;
line-height:1.7;

}




.profile img{

width:280px;
height:280px;
border-radius:50%;
border:5px solid #38bdf8;
animation:float 3s infinite;

}





.btn{

display:inline-block;
margin:25px 10px;
padding:12px 25px;
background:#38bdf8;
color:black;
border-radius:25px;
text-decoration:none;

}



.secondary{

background:white;

}





.cards{

display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;

}




.cards div{

background:#1e293b;
padding:20px;
border-radius:15px;
transition:.4s;

}



.cards div:hover{

transform:translateY(-10px);
background:#38bdf8;
color:black;

}





.project-container{

display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;

}



.project-card{

background:#1e293b;
padding:25px;
width:300px;
border-radius:20px;
transition:.4s;

}



.project-card:hover{

transform:scale(1.05);

}





.contact-box{

background:#1e293b;
padding:30px;
border-radius:20px;

}



.contact-box a{

color:#38bdf8;

}



footer{

text-align:center;
padding:20px;
background:#0f172a;

}




@keyframes float{


50%{

transform:translateY(-20px);

}

}



@keyframes left{


from{

opacity:0;
transform:translateX(-100px);

}


to{

opacity:1;

}

}






@media(max-width:768px){


nav{

flex-direction:column;

}



nav ul{

flex-direction:column;
margin-top:20px;

}



#home{

flex-direction:column;
text-align:center;

}



.intro h1{

font-size:40px;

}


.profile img{

width:200px;
height:200px;

}



}
